/*Primary elements CSS*/
body{
    background-color: #0F0C10;
    color: #F5F5F7;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    text-decoration: underline;
}

a{
    color: #F5F5F7;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover{
    color: rgb(82, 80, 80);
}

.websiteTitle {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 7px;
}

/*Navbar CSS*/
.myNavbar {
    background-color: #4A148C;
    width: 100%;
}

.nav-link{
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: color 0.2s ease;
}

.nav-link:hover{
    color: rgb(255, 255, 255, 1);
}

.navbar-nav .donate-link {
    color: #D4AF37;
    font-weight: bold;
    transition: color 0.2s ease;
}

.navbar-nav .donate-link:hover {
    color: #b30000;
    text-decoration: none;
}

.navbar-toggler-icon{
    filter: invert(1);
}

/*Card CSS*/
.card{
    background-color: #4A148C;
    color: #E0E0E0;
    border: none;
}

.card-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover; 
}

.card-title {
    color: #E0E0E0;
    font-weight: 700;
    transition: color 0.2s ease;
}

.card-title:hover{
    color: rgb(82, 80, 80);
    font-weight: 700;
}


/*Button CSS*/
.btn{
    color: #E0E0E0;
}

.btn.btn-primary{
    background-color: #6a1bca;
    transition:background-color 0.2s ease;
    border: none;
}

.btn.btn-primary:hover{
    background-color: #994df7;
}